* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }

html, body
{
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

#react-root, .chat {
  height: 100%;
}

.chat {
  display: flex;
  flex-direction: column;

  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch;
}

.messages {
  background: url('background.jpg');
  background-size: cover;
  display: flex;
  flex: 1;
  flex-direction: column;

  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
}

.header {
  display: flex;
  flex-direction: column;
  height: 42px;
  text-align: center;
  justify-content: center;

  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.header h1 {
  font-size: 18px;
}

.composer {
  display: flex;
  height: 42px;
  align-items:center;
}

.composer input {
  border: 0;
  flex: 1;
  padding: 10px;
  outline: none;
}

.list {
  flex-direction: row;
  align-items: flex-start; /* align items in Cross Axis */
  align-content: flex-start; /* Extra space in Cross Axis */
  overflow: scroll;
}

.message {
  clear: both;
  display: inline-block;;
  float: left;
  background: #ecf0f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  position: relative;
}

.message {
  max-width: 80%;
}

.message img {
  max-width: 100%;
  border-radius: 5px;
}

.you {
  background-color: #2ecc71;
  color: #ecf0f1;
  float: right;
  position: relative;
  right: 0;
}

.fadeInUp-enter {
  opacity: 0.01;
  transform: translate(0px, 10px);
}

.fadeInUp-enter.fadeInUp-enter-active {
  opacity: 1;
  transform: translate(0px, 0px);
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}

.typing {
  padding: 0px 10px;
}

.composer input {
  height: 100%
}

.composer div {
  background-color: #2ecc71;
  border-radius: 10px;
  color: #ecf0f1;
  cursor: pointer;
  margin: 2.5px;
  -webkit-user-select: none;
}

.composer div img {
  padding: 5px 15px;
}

.hidden {
  display: none;
}
